.card{
    margin-top: 2rem;
    margin-right: 10rem;
    margin-left: 10rem;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    background-color: #C4C4C4;
}