.icon {
    cursor: pointer;
    border: none;
    background-color: #334B43;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    padding: 0.5rem 0.5rem;
    width: 1.8rem;
    height: 1.35rem;
    margin-right: 1.5rem;
}
.icon:hover,
.icon:active{
    background-color: #0fdb97;
}
.counter {
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    padding: 5px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -8px;
    left: -6px;
}